<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid" style = "margin-left: 100px; margin-right: 100px;">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>
    <div class='row' style="margin-left: 10px;">
      <h1>Latest Mars News</h1>
      <h2>{{mars_facts.news_title}}</h2>
      <p>{{mars_facts.news_text}}</p>
    </div>
    <div class='row' style="margin-top: 10px; margin-bottom: 10px;">
      <div class='col-md-7'>
        <h1>Featured Mars Image</h1>
        <img src="{{ mars_facts.mars_image }}" alt="black and white surface image of Mars">
      </div>
      <div class='col-md-5'>
        <h1>Mars Facts</h1>
        {% autoescape off %}{{mars_facts.facts_table}}{% endautoescape %}
      </div>
    </div>
    <div class='row-fluid'>
      <h1 style="text-align: center;">Mars Hemispheres</h1>
      {% for key, value in mars_facts["hemispheres"].items() %}

        <div class='col-md-3' style="margin-top: 50px; margin-bottom: 150px;">
          <div class="card" style="max-width: 200px; max-height: 200px;">
            <img class="card-img-top" src="{{value.img_url}}" style="width:200px;height:200px;" alt="Image of mars hemisphere">
            <div class="card-body">
              <h5 class="card-title" style="font-weight: bold;">{{value.title}}</h5>
            
            </div>
          </div>
        </div>

      {% endfor %}
    </div>
  </div>
</body>

</html>